
#sonamuSection {
  /* border: 1px solid red; */
  /* height: 100vh; */

  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  /* height: 200vh; */
}

/* .overlay {

  position: absolute;
  border: 1px solid red;
  height: 100vh;
  width: 100%;
} */

.splash {
  /* border: 1px solid red; */
  background-color: rgba(151, 150, 151, 0.514);

  position: absolute;
  /* left: 15px; */
  top: 150px;
  height: 75vh;
  width: 100%;
  color: white;

  display: flex;
  justify-content: space-around;
  padding: 2em;

}

.splash-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.map-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;

  font-family: Arial, Helvetica, sans-serif;
  width: 100%;

}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

h1 {
  letter-spacing: 10px;
  font-weight: 100;
}

h2 {
  font-weight: 100;
  font-size: 30px;
}

.logo-seal {
  /* border: 1px solid red; */

  display: flex;
  justify-content: flex-end;
  align-items: center;


}
.logoimage2 {
  /* border: 1px solid red; */

  filter: invert(1);
  height: 15%;

}
.snm-seal {
  /* border: 1px solid red; */
  height: 15%;
}

.videoBackground {
  display: flex;
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit:cover;
  /* background-color: rgba(0,0,0,.5); */
}

@media (max-width: 1900px) {
  .map-info {
    font-size: 16px;
  }
}


@media (max-width: 500px) {
  
  .splash {
    

    
    /* display: flex;
    flex-direction: column-reverse; */
    position: absolute;
    top: 12em;
    height: 70%;
  }
  
  .splash-left {
    width: 100%;

    padding: 0;


  }
  .logo-seal {
    position: fixed;
    top:2em;
  }
  
  .logo-seal img {
    /* display: none; */
    /* border: 1px solid red; */
    height: 3em;

  }

  /* .logoimage2 {
    width: 10%;
  }
  .snm-seal {
    width: 10%;

  }
   */
}
