
#sonamuSection {
  /* border: 1px solid red; */
  /* height: 100vh; */

  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
}

#snm-sign {
  /* border: 1px solid red; */
  position: fixed;
  left: 15px;
  top: 150px;
  height: 700px;
  /* width: 250px; */
  color: white; 
}