
#sonamuSection {
  /* border: 1px solid red; */
  /* height: 100vh; */

  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
  /* height: 200vh; */
}

.overlay {
  
  position: absolute;
  /* border: 1px solid red; */
  height: 100vh;
  width: 100%;
}

.splash {
  /* border: 1px solid red; */
  background-color: rgba(104, 104, 104, 0.2);

  position: absolute;
  /* left: 15px; */
  top: 150px;
  height: 80vh;
  width: 100%;
  color: white; 

  display: flex;
  flex-direction: column;
  

}

.splash-text {
  display: flex;
  justify-content: flex-end;
  padding: 100px;
}
.logo-seal {
  /* border: 1px solid red; */

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 50px;

}
.logoimage2 {
  /* border: 1px solid red; */

  filter: invert(1);
  height: 100px;

}
.snm-seal {
  /* border: 1px solid red; */
  height: 125px;
}

.videoBackground {
  display: flex;
  width: 100%;
}

video {
  width: 100%;
  height: 100%;
  object-fit:cover;
  /* background-color: rgba(0,0,0,.5); */
}