#aftercareSection {
  /* height: 100vh; */
  background-color: whitesmoke;

  display: flex;
  justify-content: center;

}

.aftercare-splash {
  /* border: 1px solid red; */
  background-color: white;

  /* left: 15px; */

  /* height: 80vh; */
  width: 80%;
  /* margin-top: 90px; */
  padding-top: 150px;

  display: flex;
  justify-content: center;


}

.aftercare-instructions {
  /* border: 1px solid red; */
  width: 75%;
  padding:20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;

}

#sectionAB {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#sectionCD {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

}

#aftercare1 {
  /* border: 1px solid red; */
  /* padding: 50px 0; */
  /* font-family:Arial, Helvetica, sans-serif; */
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;

}

#aftercare2 {
  /* border: 1px solid red; */
  font-size: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;

}

#ac-sign-container {
  /* border: 1px solid red; */

  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/flash2.png');
  background-position: center;
  /* opacity: .5; */
  position: relative;
  width: 40%;
  border-radius: 50%;

  line-height: 0.5;
  position: relative;

}

#ac-sign-container::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

#afterCare-sign {
  /* border: 1px solid red; */
  color: black;
  position: absolute;
  margin: 0;
  padding: 15px 50px;
  font-size: 50px;
  background-color: white;

}

#imageAB {
  /* height: 350px; */
  /* border-radius: 50%; */
}

#imageCD {
  height: 100%;
}