#contactSection {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);


}

.contact-splash {
  background-color: rgba(110, 110, 110, 0.507);
  height: 75vh;
  width: 100%;

  position: relative;
  top: 7.5em;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.video-background {
  z-index: -100;
  overflow: hidden;

}

.video-background video {
  /* width: 20%; */

  object-fit: cover;
  position: absolute;


}


.location-hrs,
.location,
.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  font-size: xx-large;
  color: white;

}

.location-hrs {
  background-color: rgba(112, 112, 112, 0.288);

  justify-content: center;
  height: 100%;
  width: 30%;
  gap: 1em;
}