#contactSection {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);


}

.contact-splash {
  background-color: rgba(110, 110, 110, 0.507);
  height: 75vh;
  width: 100%;

  position: relative;
  top: 7.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.video-background {
  z-index: -100;
  overflow: hidden;

}

.video-background video {
  /* width: 20%; */

  object-fit: cover;
  position: absolute;


}


.location-hrs,
.location,
.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  color: white;

}

.location-hrs {
  background-color: rgba(167, 167, 167, 0.274);

  justify-content: center;
  height: 40%;
  width: 100%;
  gap: 1em;
}

@media (max-width: 500px) and (min-width: 400px) {

  .contact-splash {
    top: 12em;
    height: 70vh;

    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .location-hrs,
  .location,
  .hours  {
    font-size: 1rem;
  }
}