#contactSection {
  /* height: 100vh; */
  background-color:wheat;

}

.contact-splash {
  /* border: 1px solid red; */
  background-color: rgba(104, 104, 104, 0.2);
  height: 80vh;
  width: 100%;

  position: relative;
  top: 150px;

  display: flex;

}

.email {
  border: 1px solid red;
  /* width: 75%; */
}
