/* body {
  padding: 1rem;
  margin: 0 auto;
  max-height: 100px;
  border: 1px solid red;
  
}

#navbar, ul {
  border: 1px solid red;

}
 */
nav {
  position: sticky;
  top: 0px;
}

 #navbar {
  border: 1px solid red;
  height: 90px;
  padding: 1em;
  margin: 0 auto;
  background-color: black;


  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  
  list-style: none;
 }