/* body {
  padding: 1rem;
  margin: 0 auto;
  max-height: 100px;
  border: 1px solid red;

}

#navbar, ul {
  border: 1px solid red;

}
 */

 #navbar {
  /* height: 100px; */
  /* display: flex;
  justify-content: space-around;
  align-items: flex-end;

  list-style: none; */
 }


.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6vh;
  background-color: rgba(0,0,0,.5);

  display: flex;
  justify-content: flex-end;
  padding: 1em;
  color: gray;
}


 nav {
  /* border: 1px solid red; */

  top: 0px;
  position: fixed;
  height: 10vh;
  width: 100%;
  background-color: rgba(0,0,0,.5);

  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;

  z-index: 4;
}

.navContainer nav {

  /* background-color: red; */

}

.navContainer button {
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background: none;
  font-family: 'Times New Roman', Times, serif;
  width: 150px;
  /* border-right: 1px solid white; */
  color: white;
  height: 10vh;
  padding: 0;
}

.navContainer button:hover {
  /* color: black; */
  background-color: rgba(104, 104, 104, 0.2);
}


/* .navContainer li:hover .navKrn {display: block;} */

/* .navContainer li:hover .navKrn {
  display: block;
} */

@media (max-width: 500px) {
  nav {
    position: absolute;

    display: flex;
    justify-content: flex-start;
    align-items: start;
  }
}
