/* body {
  padding: 1rem;
  margin: 0 auto;
  max-height: 100px;
  border: 1px solid red;
  
}

#navbar, ul {
  border: 1px solid red;

}
 */

 #navbar {
  /* height: 100px; */
  /* display: flex;
  justify-content: space-around;
  align-items: flex-end;
  
  list-style: none; */
 }

 .navENG {
  top: 0px;
  position: fixed;
  width: 100%;
  height: 15vh;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
  padding: 5px;

 }

 .navENG li:hover {
  visibility: hidden;
 }

 

 nav {
  /* border: 1px solid red; */

  top: 0px;
  position: fixed;
  height: 15vh;
  width: 100%;
  background-color: transparent;

  
  background-image: url(../../assets/logo2.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 45%;
  padding: 5px;
  
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style: none;
}

.navContainer nav {

  /* background-color: red; */

}

.navContainer button {
  font-size: 1.2rem;
  cursor: pointer;
  border: none;
  background: none;
  font-family: 'Times New Roman', Times, serif;
}




/* .navContainer li:hover .navKrn {display: block;} */

/* .navContainer li:hover .navKrn {
  display: block;
} */

