#artistsSection {

  background-color: rgb(31, 31, 31);
  color: white;
  min-height: 70vh;
  /* Ensures it grows as needed */
  margin: 0;
  overflow-y: scroll;
  background-image: url('../../assets/snmbg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#artist-mobile {
  display: none;
}

#artist-desktop {
  position: relative;
  top: 125px;
  min-height: fit-content;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  padding-bottom: 10%;
  overflow-y: scroll;

}

.artist-card {
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
  margin: 0;


  width: 38em;
  height: 25em;
  perspective: 1000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.display-name {
  font-size: 3em;
  color: rgba(0, 0, 0, 0.527);
  /* position: absolute; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  z-index: 1;
}

.artist-card.flipped .card-inner {
  transform: rotateY(180deg);
}

/* Front and back faces */
.art-container,
.artist-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Front face */
.art-container {
  background: rgba(255, 255, 255, 0.69);
  /* Set a front background if needed */
  /* z-index: 2; */
  /* Make sure it displays above back by default */


}

/* Back face */
.artist-info {
  background-image: url('../../assets/infobg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  transform: rotateY(180deg);
  /* Flip the back face */
  z-index: 1;

  padding: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid red;
}

.info-directions {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.artist-portrait {
  height: 75%;
  border: 1px solid red;
}

.contact-info {
  /* padding-left: 5%; */
  display: flex;
  justify-content: space-around;
}

.artist-ig,
.artist-email {
  font-style: italic;
  display: flex;
  cursor: pointer;
}
.email-directions {
  border-left: .5px solid rgba(255, 116, 116, 0.5);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}


.book-back {
  all: unset;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  font-size: 30px;
  padding: 2px 10px;
  color: gray;
  position: relative;
}

#artist-back {
  position: absolute;
  bottom: 10%;
}
.book-back:hover {
  color: black;
}

.book-back::before,
.book-back::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  pointer-events: none; /* So the hover effect applies to .book-back */
}

.book-back::before {
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: scale(0);
  transform-origin: top right;
  
}

.book-back::after {
  border-bottom: 2px solid #333;
  border-left: 2px solid #333;
  transform: scale(0);
  transform-origin: bottom left;
  
}

.book-back:hover::before {
  transform: scale(1);
}

.book-back:hover::after {
  transform: scale(1);
  

}



@media (max-width: 500px) and (min-width: 400px)  {
  #artist-desktop {
    top: 13em;
  }

  .artist-card {
    width: 90%;
  }
}