*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (max-width: 1900px) {
  .map {
    width: 500px;
    height: 275px;
  }
}

@media (max-width: 500px) {
  .map {
    width: auto;
    
  }
}
