

#gallerySection {

  background-color: rgb(31, 31, 31);
  color: white;
  min-height: fit-content; /* Ensures it grows as needed */
  margin: 0;

}



@media (max-width: 500px) {

  
  #artistSplash {
    /* border: 1px solid blue; */
    width: 100%;
    background-color: rgba(151, 150, 151, 0.514);
    position: relative;
    top: 12em;

    display: flex;
    flex-direction: column;
    gap:.5em;
  }

  
  .artistCard {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 350px;
    overflow: hidden;
    
  }
  .artistName {
    position: absolute;
    right: 10%;
    margin: 60% 0;
    font-size: 2em;
    background-color: rgba(160, 159, 159, 0.384);
    text-align: right;
    width: 100%;
    
  }
  .artistArt-container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    
  }
  .artistArt {
    /* border: 1px solid red; */
    min-width: 100%;
    scroll-snap-align: start;
    
  }
}